.senators{
  display: flex;
  justify-content: center;
 border-style: solid;
  border-color: white;
  margin: 10px;
  flex-direction: row;
}
.senator{
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}
.republicans{
  background-color: red;
  color: white;
  border-style: solid;
  text-align: center;
}

.democrats{
  background-color: darkblue;
  color: white;
  border-style: solid;
  text-align: center;
}

.independants{
  background-color: darkgreen;
  color: white;
  border-style: solid;
  text-align: center;
}
.mainlogo{
display: flex;
justify-content: center;
}

.search{
  display: flex;
  align-content: baseline;
  justify-content: right;
  margin-left: 20px;
}